/* Footer.css */
.footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    height: 300px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links,
.footer-socials {
    margin: 10px 0;
}

.footer-links a,
.footer-socials a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover,
.footer-socials a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
